<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerPort" value="5000"/>
		<add key="ServerIP" value="10.192.164.58"/>
		<add key="GameFile1" value="game1.txt"/>
		<add key="GameFile2" value="game2.txt"/>
		<add key="GameFile3" value="game3.txt"/>
		<add key="GameFile4" value="game4.txt"/>
	</appSettings>
</configuration>